.gsi05 { background-color:#9EBDDD; }
.gsi15 { background-color:#3D79B5; }
.gsi25 { background-color:#32C8B4; }
.gsi35 { background-color:#1EDC50; }
.gsi45 { background-color:#9BFF5C; }
.gsi50 { background-color:#FFFF00; }
.gsi55 { background-color:#FFB047; }
.gsi60 { background-color:#FF5078; }
.gsi61 { background-color:#d10030; }
.gsi62 { background-color:#b5002a; }
.gsi65 { background-color:#96003C; }

.intensity{
  height: 10.10em;
  width: 10.10em;
  margin: 0 auto 0;
}

.barwrap
{
  float:left;
  position:relative;
  height:100%;
  width:11.1%;
  text-align:center;
}

.bargraph
{
  height:1.1em;
  width:98%;
  margin:0px auto 0;
  abackground-color:#d0d0e0;
}
